@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FDF8F2;
  color: #1A1A1A;
  font-family: var(--font-sans);
}

hr {
  border: none;
  border-top: 1px solid #E8E4DF;
}
